@media (min-width: 0px) {
  .about-studio-row {
    margin: 60px 30px 30px 30px !important;
    p {
      margin: 30px 0px;
    }
  }

  .about-studio-header-col {
    h2 {
      max-width: min-content;
    }
  }

  .card {
    margin-top: 50px;
    min-width: 270px;
    max-width: 270px;
  }
}

@media (min-width: 768px) {
  .about-studio-row {
    margin: 70px 135px !important;
    p {
      margin: 0px;
    }
  }
}