@media (min-width: 0px) {
  .navbar {
    padding: 55px 30px 30px !important;
  }

  .header-link {
    display: none;
  }

  .header-right-section {
    display: none;
  }

  .hero {
    height: fit-content;
    flex-direction: column;
    img {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
    }
  }

  .hero-header {
    align-items: center;
    padding: 80px 30px 30px 30px !important;
    h1 {
      font-size: 48px;
      font-family: "BN Chester";
      font-weight: 600;
    }
    p {
      margin-top: 30px;
    }
    button {
      height: 48px;
      width: 100%;
      margin: 55px 0px 0px 0px;
    }
  }

  .section-header {
    font-weight: 600;
    font-size: 32px;
    font-family: "BN Chester";
    margin: 0;
    span {
      font-weight: 600;
      font-size: 32px;
      font-family: "BN Chester";
      color: #d3a265;
    }
  }

  .about-studio-row {
    margin: 60px 30px 30px 30px !important;
    p {
      margin: 30px 0px;
    }
  }

  .about-studio-header-col {
    h2 {
      max-width: min-content;
    }
  }

  .services-card-container {
    position: relative;
    margin-top: 100px !important;
    &:nth-child(1) {
      margin-top: 30px !important;
    }
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #DCD1BB;
      top: 118%;
    }
  }

  .card {
    min-width: 270px;
    max-width: 270px;
  }

  .our-services-section {
    margin: 0px 30px;
  }

  .free-consultation-button {
    height: 48px;
    width: 100%;
    margin: 85px 0px;
  }

  .our-portfolio-section {
    .section-header {
      margin-bottom: 65px;
    }
  }

  .tabs {
    margin: 0px 30px;
    p {
      &:nth-child(1) {
        color: #d3a265;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 576px) {
  .hero {
    flex-direction: row;
    img {
      max-height: 100%;
      min-height: 100%;
    }
  }

  .services-card-container {
    margin-top: 50px !important;
    &:nth-child(1) {
      margin-top: 50px !important;
    }
    span {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .hero-header {
    align-items: flex-start;
    justify-content: center;
    h1 {
      max-width: 480px;
    }
    p {
      max-width: 380px;
    }
    button {
      width: 170px;
    }
  }

  .free-consultation-button {
    width: 225px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 50px 135px !important;
    position: absolute !important;
    z-index: 1 !important;
    right: 0;
    left: 0;
  }

  .inner-navbar {
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: block;
      text-decoration: none;
      color: #352c2c;
    }
  }

  .header-right-section {
    display: flex;
    a {
      text-decoration: none;
      color: #352c2c;
    }
  }

  .dropdown {
    margin-left: 40px;
  }

  .hamburger-container {
    display: none;
  }

  .hero-header {
    padding: 0px 30px 0px 135px !important;
  }

  .section-header {
    font-size: 40px;
    span {
      font-size: 40px;
    }
  }

  .about-studio-row {
    margin: 70px 135px !important;
    p {
      margin: 0px;
    }
  }

  .our-services-section {
    margin: 0px 135px;
  }
}

@media (min-width: 1200px) {

  .hero-header {
    h1 {
      font-size: 66px;
    }
  }

  .our-services-section {
    h2 {
      margin: 85px 0px;
    }
  }

  .services-card-container {
    margin-top: 0px !important;
    &:nth-child(1) {
      margin-top: 0px !important;
    }
  }
}
