@import url("../fonts/Gilroy/stylesheet.css");
@import url("../fonts/BN-Chester/stylesheet.css");
@media (min-width: 0px) {
  .hero {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  .hero img {
    width: 100%;
    max-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-header {
    align-items: center;
    padding: 100px 30px 30px 30px !important;
  }
  .hero-header h1 {
    font-size: 48px;
    font-family: "BN Chester";
    font-weight: 600;
  }
  .hero-header p {
    margin-top: 30px;
  }
  .hero-header button {
    height: 48px;
    width: 100%;
    margin: 55px 0px 0px 0px;
  }
  .section-header {
    font-weight: 600;
    font-size: 32px;
    font-family: "BN Chester";
    margin: 0;
  }
  .section-header span {
    font-weight: 600;
    font-size: 32px;
    font-family: "BN Chester";
    color: #d3a265;
  }
  .about-studio-row {
    margin: 60px 30px 30px 30px !important;
  }
  .about-studio-row p {
    margin: 30px 0px;
  }
  .about-studio-header-col h2 {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
  .card {
    margin-top: 50px;
    min-width: 270px;
    max-width: 270px;
  }
  .our-services-section {
    margin: 0px 30px;
  }
  .free-consultation-button {
    height: 48px;
    width: 100%;
    margin: 85px 0px;
  }
}
@media (min-width: 576px) {
  .hero {
    flex-direction: row;
  }
  .hero img {
    max-height: 100%;
    min-height: 100%;
  }
}
@media (min-width: 768px) {
  .hero-header {
    align-items: flex-start;
    justify-content: center;
  }
  .hero-header h1 {
    max-width: 480px;
  }
  .hero-header p {
    max-width: 380px;
  }
  .hero-header button {
    width: 170px;
  }
  .free-consultation-button {
    width: 225px;
  }
}
@media (min-width: 992px) {
  .hero-header h1 {
    font-size: 66px;
  }
  .section-header {
    font-size: 40px;
  }
  .section-header span {
    font-size: 40px;
  }
  .section-header .about-studio-row {
    margin: 70px 135px !important;
  }
  .section-header .about-studio-row p {
    margin: 0px;
  }
  .section-header .our-services-section {
    margin: 0px 135px;
  }
}
@media (min-width: 1200px) {
  .hero-header {
    padding: 0px 30px 0px 135px !important;
  }
  .our-services-section h2 {
    margin: 85px 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  border: 1px solid red;
}

p,
a {
  font-weight: 500;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #d3a265;
  border-radius: 10px;
}

.header {
  height: 100px;
  display: none;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 135px;
  width: 470px;
  height: 23px;
}
.header nav a {
  text-decoration: none;
  font-weight: 500;
  color: #352c2c;
}

.header-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 200px;
  right: 135px;
}
.header-info a {
  text-decoration: none;
  color: #161616;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 43px;
  font-weight: 500;
}

.get-started-button {
  background-color: transparent;
  border: 2px solid #d3a265;
  font-weight: bold;
  border-radius: 8px;
}

.card-img-container {
  width: 90px;
  height: 90px;
}

.card-text {
  color: #8d8d8d;
  line-height: 170%;
}

.free-consultation-button {
  background-color: transparent;
  border: 2px solid #d3a265;
}/*# sourceMappingURL=main.css.map */